<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hack Your Temperature</title>
</head>
<body>
  <form method="POST" action="/weather">
    <p>{{ weatherText }}</p>
    <input type="text" name="cityName" placeholder="City..."/>
    <button>Submit</button>
  </form>
</body>
</html>